body {
  --white: #fff;
  --black: #000;
  --dark-grey2: #232627;
  --light-grey3: #eff2f3;
  --main: #fe4754;
}

body.dark {
  --white: #000;
  --black: #fff;
  --dark-grey: #232627;
  --dark-grey2: #fff;
  --light-grey3: #242323;
}
